@model DDSDemoDAL.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>
    Employee:
    @Html.DisplayFor(model => model.FirstName)
    @Html.DisplayFor(model => model.LastName)
    </h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Company Name:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayName("First Name:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last Name:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Sunday:")
        </dt>

        <dd>
                @if (Model.Sun == true)
                {
                    <p>True</p>
                }
                @if (Model.Sun == false)
                {
                    <p>False</p>
                }
                @if (Model.Sun == null)
                {
                    <p>Not Selected</p>
                }
        </dd>

        <dt>
            @Html.DisplayName("Monday:")
        </dt>

        <dd>
            @if (Model.Mon == true)
            {
                <p>True</p>
            }
            @if (Model.Mon == false)
            {
                <p>False</p>
            }
            @if (Model.Mon == null)
            {
                <p>Not Selected</p>
            }
        </dd>

        <dt>
            @Html.DisplayName("Tuesday:")
        </dt>

        <dd>
            @if (Model.Tue == true)
            {
                <p>True</p>
            }
            @if (Model.Tue == false)
            {
                <p>False</p>
            }
            @if (Model.Tue == null)
            {
                <p>Not Selected</p>
            }
        </dd>

        <dt>
            @Html.DisplayName("Wednesday:")
        </dt>

        <dd>
            @if (Model.Wed == true)
            {
                <p>True</p>
            }
            @if (Model.Wed == false)
            {
                <p>False</p>
            }
            @if (Model.Wed == null)
            {
                <p>Not Selected</p>
            }
        </dd>

        <dt>
            @Html.DisplayName("Thursday:")
        </dt>

        <dd>
            @if (Model.Thu == true)
            {
                <p>True</p>
            }
            @if (Model.Thu == false)
            {
                <p>False</p>
            }
            @if (Model.Thu == null)
            {
                <p>Not Selected</p>
            }
        </dd>

        <dt>
            @Html.DisplayName("Friday:")
        </dt>

        <dd>
            @if (Model.Fri == true)
            {
                <p>True</p>
            }
            @if (Model.Fri == false)
            {
                <p>False</p>
            }
            @if (Model.Fri == null)
            {
                <p>Not Selected</p>
            }
        </dd>

        <dt>
            @Html.DisplayName("Saturday:")
        </dt>

        <dd>
            @if (Model.Sat == true)
            {
                <p>True</p>
            }
            @if (Model.Sat == false)
            {
                <p>False</p>
            }
            @if (Model.Sat == null)
            {
                <p>Not Selected</p>
            }
        </dd>

        <dt>
            @Html.DisplayName("Avail. Notes:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailNotes)
        </dd>

        <dt>
            @Html.DisplayName("Avail. Start:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailStart)
        </dd>

        <dt>
            @Html.DisplayName("Avail. Expires:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailExpires)
        </dd>

        <dt>
            @Html.DisplayName("Avail. Duration:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailDuration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, page = ViewBag.CurrentPage, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }) |
    @Html.ActionLink("Back to Employees", "Index", new { page = ViewBag.CurrentPage, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] })
</p>
