@model IEnumerable<DDSDemoDAL.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*Html.DisplayNameFor(model => model.CompanyName)*@
            Company Name
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>*@
        <th>
            @*Html.DisplayNameFor(model => model.FirstName)*@
            First Name
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.LastName)*@
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sat)
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.AvailNotes)*@
            Avail. Notes
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.AvailStart)*@
            Avail. Start
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.AvailExpires)*@
            Avail. Expires
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr
            onclick="location.href = '@(Url.Action("Details", "Employees", new { id = item.ID }))'">
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.EmpID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @{
                    if (item.Sun == true)
                    {
                        <p>True</p>
                    }
                    else
                    {
                        <p>False</p>
                    }
                }
               
                @*@Html.DisplayFor(modelItem => item.Sun)*@
            </td>
            <td>

                @{
                    if (item.Mon == true)
                    {
                        <p>True</p>
                    }
                    else
                    {
                        <p>False</p>
                    }
                }
                @*@Html.DisplayFor(modelItem => item.Mon)*@
            </td>
            <td>

                @{
                    if (item.Tue == true)
                    {
                        <p>True</p>
                    }
                    else
                    {
                        <p>False</p>
                    }
                }
                @*@Html.DisplayFor(modelItem => item.Tue)*@
            </td>
            <td>

                @{
                    if (item.Wed == true)
                    {
                        <p>True</p>
                    }
                    else
                    {
                        <p>False</p>
                    }
                }
                @*@Html.DisplayFor(modelItem => item.Wed)*@
            </td>
            <td>

                @{
                    if (item.Thu == true)
                    {
                        <p>True</p>
                    }
                    else
                    {
                        <p>False</p>
                    }
                }
                @*@Html.DisplayFor(modelItem => item.Thu)*@
            </td>
            <td>

                @{
                    if (item.Fri == true)
                    {
                        <p>True</p>
                    }
                    else
                    {
                        <p>False</p>
                    }
                }
                @*@Html.DisplayFor(modelItem => item.Fri)*@
            </td>
            <td>

                @{
                    if (item.Sat == true)
                    {
                        <p>True</p>
                    }
                    else
                    {
                        <p>False</p>
                    }
                }
                @*@Html.DisplayFor(modelItem => item.Sat)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailNotes)
            </td>
            <td>
                @(item.AvailStart.HasValue ? item.AvailStart.Value.ToShortTimeString() : "--")
                @*@Html.DisplayFor(modelItem => item.AvailStart.Value.ToShortTimeString())*@
            </td>
            <td>
                @(item.AvailExpires.HasValue ? item.AvailExpires.Value.ToShortTimeString() : "--")
                @*@Html.DisplayFor(modelItem => item.AvailExpires.Value.ToShortTimeString())*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Users", "Users", new { id = item.ID}) 
            </td>
        </tr>
    }

</table>
