@model IPagedList<DDSDemo.Models.TimeSheetForList>

@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "ClientIndex";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>


<h2>Client Timesheets</h2>


@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()  
<table class="table">
    <tr>
        <th>
            Client
        </th>
        <th>
            Employee
        </th>
        <th>
            Start Time
        </th>
        <th>
            Stop Time
        </th>
        <th>
            Elapsed Time
        </th>
        <th>
            Note
        </th>
        <th></th>

        <th style="text-align:center">
            <button class="btn-success" type="submit" id="true" name="Approve" value="true">Approve</button>
            <button class="btn-danger" type="submit" id="false" name="Deny" value="true" style="width:66.27px">Deny</button>
        </th>
    </tr>

        @for (var i = 0; i < Model.Count; i++)
        {
                    <tr @{
                        if (Model[i].Approved == true) {<text> style="background-color: #43ac6a; color:navajowhite" </text> }
                        else if (Model[i].Approved == false) {<text> style="background-color: #f04124; color:navajowhite"</text> }
                        else if (Model[i].Approved == null) {<text> style="background-color: #fafafa;"</text> }
                       }>

                        <td>
                            @Html.DisplayFor(modelItem => Model[i].Client.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].Employee.FullName)
                        </td>
                        <td>
                            @(Model[i].StartTime.HasValue ? Model[i].StartTime.Value.ToShortTimeString() : "--") <br />
                            @(Model[i].StartTime.HasValue ? Model[i].StartTime.Value.ToShortDateString() : "--")
                        </td>
                        <td>
                            @(Model[i].StopTime.HasValue ? Model[i].StopTime.Value.ToShortTimeString() : "--") <br />
                            @(Model[i].StopTime.HasValue ? Model[i].StopTime.Value.ToShortDateString() : "--")
                        </td>
                        <td>
                            @Model[i].ElapsedTime.ToString(@"hh\:mm\:ss")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].Note)
                        </td>
                        <td style="color:black">
                            @Html.ActionLink("Review", "ClientEdit", new { id = Model[i].ID})
                        </td>
                        <td style="text-align:center">
                            @Html.HiddenFor(modelItem => Model[i].ID)
                            @Html.HiddenFor(modelItem => Model[i].Approved)
                            @if (Model[i].StopTime.HasValue)
                            {
                                @Html.EditorFor(modelItem => Model[i].IsChecked, new { @class = "form-control"  })
                            }
                            
                        </td>
                    </tr>
                
        }
    </table>
}
@Html.PagedListPager(Model, page => Url.Action("ClientIndex", new { page }))