@model DDSDemoDAL.TimeSheet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeSheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Company Name:")
        </dt>

        <dd>
            @Model.Client.CompanyName
        </dd>

        <dt>
            @Html.DisplayName("Employee Name:")
        </dt>

        <dd>
            @Model.Employee.FullName
        </dd>

        <dt>
            @Html.DisplayName("Start Time:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayName("Stop Time:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopTime)
        </dd>

        <dt>
            @Html.DisplayName("Note:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayName("Approved:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayName("Approved By:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedName)
        </dd>

        <dt>
            @Html.DisplayName("Approved Date:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>

        <dt>
            @Html.DisplayName("Processed:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, page = ViewBag.CurrentPage }) |
    @Html.ActionLink("Back to TimeSheets", "Index", new { page = ViewBag.CurrentPage})
</p>
