@model IPagedList<DDSDemoDAL.TimeSheet>

@{
    ViewBag.Title = "All TimeSheets";
}

@using PagedList;
@using PagedList.Mvc;

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>


<h2>All TimeSheets</h2>

@using (@Html.BeginForm("Index", "TimeSheets", FormMethod.Get))
{       <b> Search By:</b>
        @Html.RadioButton("searchBy", "Client", true) <text> Client </text> 
        @Html.RadioButton("searchBy", "Employee") <text> Employee </text><br /> 
        @Html.TextBox("search")<button type="submit" value="search" id="ser"  style="height:27px; background-color:none;"><img style="height:20px" src="https://d30y9cdsu7xlg0.cloudfront.net/png/6983-200.png" /></button><button  type="button" id="button1" style="height:27px"><img style="height:20px" src="https://maxcdn.icons8.com/Share/icon/Science//multiply1600.png" /></button>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Client", "Index", new {sortBy = ViewBag.SortClientParameter, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
             <span class="caret"></span>
        </th>
        <th>
            @Html.ActionLink("Employee", "Index", new { sortBy = ViewBag.SortEmployeeParameter, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
            <span class="caret"></span>
        </th>
        <th>
            @Html.ActionLink("Start Time", "Index", new { sortBy = ViewBag.SortStartTimeParameter, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
            <span class="caret"></span>
        </th>
        <th>
            @Html.ActionLink("Stop Time", "Index", new { sortBy = ViewBag.SortStopTimeParameter, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
            <span class="caret"></span>
        </th>
        <th>
            Elapsed Time
        </th>
        <th>
            Note
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr @{
                        if (item.Approved == true) {<text> style="background-color: #43ac6a; color:navajowhite" </text> }
                        else if (item.Approved == false) {<text> style="background-color: #f04124; color:navajowhite"</text> }
                        else if (item.Approved == null) {<text> style="background-color: #fafafa;"</text> }
                       }>
            <td>
                @item.Client.CompanyName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @(item.StartTime.HasValue ? item.StartTime.Value.ToShortTimeString() : "--") <br />
                @(item.StartTime.HasValue ? item.StartTime.Value.ToShortDateString() : "--")
            </td>
            <td>
                @(item.StopTime.HasValue ? item.StopTime.Value.ToShortTimeString() : "--") <br />
                @(item.StopTime.HasValue ? item.StopTime.Value.ToShortDateString() : "--")
            </td>
            <td>
                @item.ElapsedTime.ToString(@"hh\:mm\:ss")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID, page = Model.PageNumber, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }) |
                @Html.ActionLink("Manage", "Manage", new { id = item.ID, page = Model.PageNumber, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID, page = Model.PageNumber, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID, page = Model.PageNumber, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] })
            </td>
        </tr>

    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }))

<script>
    $( document ).ready(function() {
        $("#button1").click(function () {
            $("#search").val("");
            $("#ser").click();
        });
    });
</script>


