@model IPagedList<DDSDemoDAL.TimeSheet>

@{
    ViewBag.Title = "All TimeSheets";
}

@using PagedList;
@using PagedList.Mvc;

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>


<h2>All TimeSheets</h2>

@using (@Html.BeginForm("Index", "TimeSheets", FormMethod.Get))
{    
        @Html.RadioButton("searchBy", "Client", true, new { style="display:none" })
        @Html.RadioButton("searchBy", "Employee", new { style = "display:none" })
            <div class="">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                           
                            <li id="searchByC" name="searchBy" type="radio" value="Client"><a href="#Client">Client</a></li>
                            <li id="searchByE" name="searchBy" type="radio" value="Employee"><a href="#Employee">Employee</a></li>
                        </ul>
                    </div>
                        <input type="text" class="form-control special" name="search" placeholder="Search term...">
                    
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        <button class="btn btn-default" type="submit" id="button1"><span class="glyphicon glyphicon-remove-circle"></span></button>
                    </span>
                </div>
            </div>
}

<p>
    <br />
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Client", "Index", new {sortBy = ViewBag.SortClientParameter, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
             <span class="caret"></span>
        </th>
        <th>
            @Html.ActionLink("Employee", "Index", new { sortBy = ViewBag.SortEmployeeParameter, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
            <span class="caret"></span>
        </th>
        <th>
            @Html.ActionLink("Start Time", "Index", new { sortBy = ViewBag.SortStartTimeParameter, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
            <span class="caret"></span>
        </th>
        <th>
            @Html.ActionLink("Stop Time", "Index", new { sortBy = ViewBag.SortStopTimeParameter, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
            <span class="caret"></span>
        </th>
        <th>
            Elapsed Time
        </th>
        <th>
            Note
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr @{if (item.Approved == true) {<text> style="background-color: #43ac6a; color:navajowhite" </text> }
              else if (item.Approved == false) {<text> style="background-color: #f04124; color:navajowhite"</text> }
              else if (item.Approved == null) {<text> style="background-color: #fafafa;"</text> }
             }>
            <td>
                @item.Client.CompanyName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @(item.StartTime.HasValue ? item.StartTime.Value.ToShortTimeString() : "--") <br />
                @(item.StartTime.HasValue ? item.StartTime.Value.ToShortDateString() : "--")
            </td>
            <td>
                @(item.StopTime.HasValue ? item.StopTime.Value.ToShortTimeString() : "--") <br />
                @(item.StopTime.HasValue ? item.StopTime.Value.ToShortDateString() : "--")
            </td>
            <td>
                @item.ElapsedTime.ToString(@"hh\:mm\:ss")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID, page = Model.PageNumber, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }) |
                @Html.ActionLink("Manage", "Manage", new { id = item.ID, page = Model.PageNumber, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID, page = Model.PageNumber, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID, page = Model.PageNumber, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }))

<script>
    $(document).ready(function () {
        $('a[href="#Client"]').click(function () {
            $("input[value='Client']").prop("checked", true);
            $("#search_concept").html("Client");
        });
        $('a[href="#Employee"]').click(function () {
            $("input[value='Employee']").prop("checked", true);
            $("#search_concept").html("Employee");
        });
        $("form").submit(function () {

        });
        $("#button1").click(function () {
            $("#search").val("");
            $("#ser").click();
            
            
        });
    });
</script>


