@model IPagedList<DDSDemoDAL.TimeSheet>

@{
    ViewBag.Title = "Index";
}

@using PagedList;
@using PagedList.Mvc;

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>


<h2>All Timers</h2>

@using (@Html.BeginForm("Index", "TimeSheets", FormMethod.Get))
{       <b> Search By:</b>
        @Html.RadioButton("searchBy", "Client", true) <text> Client </text> 
        @Html.RadioButton("searchBy", "Employee") <text> Employee </text><br /> 
        @Html.TextBox("search") <input type="submit" value="search" id="ser"/><button type="button" id="button1" style="height:27px"><img style="height:20px" src="https://maxcdn.icons8.com/Share/icon/Science//multiply1600.png" /></button>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Client
        </th>
        <th>
            Employee
        </th>
        <th>
            Start Time
        </th>
        <th>
            Stop Time
        </th>
        <th>
            Elapsed Time
        </th>
        <th>
            Note
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Client.CompanyName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @(item.StartTime.HasValue ? item.StartTime.Value.ToShortTimeString() : "--")
            </td>
            <td>
                @(item.StopTime.HasValue ? item.StopTime.Value.ToShortTimeString() : "--")
            </td>
            <td>
                @item.ElapsedTime.ToString(@"hh\:mm\:ss")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Manage", "Manage", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>

    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }))

<script>
    $( document ).ready(function() {
        $("#button1").click(function () {
            $("#search").val("");
            $("#ser").click();
        });
    });
</script>


